<a href="https://colab.research.google.com/github/sigvehaug/CAS-Applied-Data-Science/blob/master/Module-1/M1-D1-DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2021-08-23, S. Haug, University of Bern.

Prerequisite for this notebook is some basic Python experience.

Please also look at the first batch of [these slides](https://docs.google.com/presentation/d/1BrlQQGDnEpr8lBiEd9uO-Kw2-WOInAEP-cv-xdUwB4Y/edit?usp=sharing) before doing this notebook. They offer an introduction to data.

# 1. Data Management

Estimated study time is up to 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter lab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data my be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. hard disk. This part of the data management is normally taken care of by engineers.

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills.

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned and prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc.
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do datamanagement with dataframes. Pandas are extremly powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If not, it probably doesn't make much sense what wou want to do.**

Any questions?

### 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster.

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option Enter = Run cell and Insert new cell below

*Exercises (10 min)*
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [ ]:
# Write some more Python code here
print('hello CAS')
for i in range(10):
    print('im counting:', i)

### 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module/Library for data analysis and manipulation. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data manipulation with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [3]:
# Upload the local data file to colab
import numpy as np
import pandas as pd
iris = pd.read_csv("iris.csv")
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [8]:
iris.tail()
iris.head(20)

    5.1  3.5  1.4  0.2  Iris-setosa
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa

The dataframe method shows 50 rows per default. We can change this as we like:

In [6]:
print(iris)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

SyntaxError: ignored

Get help about this object, if there is any:

And, what you will probably use the most, the online package information and examples by googling.

### Exercise 1.1 (10 min)

Read the Swiss BAG Corona data on vaccinated persons into a dataframe and look at it. The URL is
https://opendata.swiss/en/dataset/covid-19-schweiz

You will probably need to consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a json file into a pandas dataframe.

In [10]:
# Write your code here
import json

In [16]:
#with open('https://www.covid19.admin.ch/api/data/20230822-bekg7ks3/sources/COVID19VaccPersons_vaccine.json', 'r') as f:
  #data = json.load(f)


data_covid =pd.read_csv("COVID19VaccPersons_vaccine.csv")
data_covid.head()

,date,geoRegion,vaccine,entries,type_variant,pop,sumTotal,per100Persons,per100Persons_mean7d,per100PersonsTotal,mean7d,type,version,granularity
0,2020-12-22,AG,johnson_johnson,0,vaccine,703086.0,0,0.0,NaN,0.0,NaN,COVID19AtLeastOneDosePersons,2023-05-02_05-00-10,detailed
1,2020-12-23,AG,johnson_johnson,0,vaccine,703086.0,0,0.0,NaN,0.0,NaN,COVID19AtLeastOneDosePersons,2023-05-02_05-00-10,detailed
2,2020-12-24,AG,johnson_johnson,0,vaccine,703086.0,0,0.0,NaN,0.0,NaN,COVID19AtLeastOneDosePersons,2023-05-02_05-00-10,detailed
3,2020-12-25,AG,johnson_johnson,0,vaccine,703086.0,0,0.0,0.0,0.0,0.0,COVID19AtLeastOneDosePersons,2023-05-02_05-00-10,detailed
4,2020-12-26,AG,johnson_johnson,0,vaccine,703086.0,0,0.0,0.0,0.0,0.0,COVID19AtLeastOneDosePersons,2023-05-02_05-00-10,detailed

### 3. Indexing on a DataFrame

By methods (we are back to our Iris dataset):

Indexing a group/subset of the dataframe

**Important**
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

Vectorized dataframe manipulations...

Grouping ...

### 4. Sorting on a DataFrame

...

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

In [ ]:
s

### 5. Filtering on a DataFrame
...

In [ ]:
# We can assign the filtering result to a new dataframe

In [ ]:
# And print it

### 6. Missing or bad data

Datasets, in particular before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, 因)	Remove missing values.
- DataFrame.fillna([value, method, axis, 因)	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, 因)	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, 因)	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

### 7. Exporting dataframes

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

What happens with our files when we close our colab session?

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc.
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty.

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

### Exercise 2

Write down here some minimal metadata about the Iris dataset:

-
-
-
Summary: everything needed for reproduction

(the "dimensions of a numpy table or dataframe is often called the shape). 150x5x3

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module.

Try to understand the following code and alter it to do something else.

In [ ]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

In [ ]:
!ls -l newnbdir

### Exercise 3

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [ ]:
# Solve your exercise here

### Exercise 4

Print a sorted list of the weeks and the male deadths with COVID-19 in Switzerland. The weeks with the highest numbers should appear first. This should be doable with about 10 lines of Python. You may need 30 minutes to solve this one.

# End of today - remember to fill the mandatory form

Everyone has to fill this form by 10 pm : https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.